*{
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body, p, h1, h2, h3, h4, h5, h6, ul, li, option{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
body{
    background-color: rgba(20, 20, 20, 1);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.wrap{
    max-width: 1440px;
    padding: 0 48px;
    margin: 0 auto;
    overflow: hidden;
}
input:focus{
    outline: none;
    border: none;
}
.no-scroll{
    overflow: hidden;
    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: rgb(1, 52, 107);
        -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
      }
      .lds-facebook div:nth-child(1) {
        left: 8px;
        -webkit-animation-delay: -0.24s;
                animation-delay: -0.24s;
      }
      .lds-facebook div:nth-child(2) {
        left: 32px;
        -webkit-animation-delay: -0.12s;
                animation-delay: -0.12s;
      }
      .lds-facebook div:nth-child(3) {
        left: 56px;
        -webkit-animation-delay: 0;
                animation-delay: 0;
      }
      @-webkit-keyframes lds-facebook {
        0% {
          top: 8px;
          height: 64px;
        }
        50%, 100% {
          top: 24px;
          height: 32px;
        }
      }
      @keyframes lds-facebook {
        0% {
          top: 8px;
          height: 64px;
        }
        50%, 100% {
          top: 24px;
          height: 32px;
        }
      }
    .load{
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        z-index: 5;
        background-color: #141414;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
      }
}
