.animation main .nav__wrap{
    opacity: 1;
    animation: none;
    transform: translateY(0);
    border-bottom: 1px solid #242424;
}

.works{
    margin-top: 110px;
}

.table{
    border-collapse: collapse;
    margin-top: 70px;
    &__line{
        cursor: pointer;
        transition: 0.3s;
        padding: 32px 0px;
        justify-content: space-between;
        border-bottom: 1px solid #242424;
        display: flex;
        &:hover{
            background-color: rgba(1, 43, 87, 0.1);
        }
    }
    &__title{
        vertical-align: text-top;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 1.8rem;
        width: 30%;
        margin-right: 20px;
    }
    &__description{
        color: #828282;
        line-height: 1.6rem;
        width: 70%;
    }
}
@media screen and(max-width: 650px) {
    main .wrap{
        padding-right: 32px;
        padding-left: 32px;
    }
    .works{
        margin-top: 60px;
    }
    .table{
        margin-top: 32px;
        &__line{
            flex-direction: column;
            border-bottom: none;
            padding: 0 0 24px;
        }
        &__title{
            width: 100%;
            margin-right: 0;
            margin-bottom: 8px;
        }
        &__description{
            width: 100%;
        }
    }
}

.steps{
    margin-top: 186px;
    &__left{
        width: 30%;
        margin-right: 36px;
    }
    &__right{
        width: 70%;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    &__title{
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    &__description{
        color: #828282;
        line-height: 1.6rem;
    }
    &__item{
        padding-bottom: 70px;
        &:not(&:last-child){
            border-left: 1px solid #333333;
        }     
    }
    &__main{
        display: flex;
    }
    &__dot{
        min-width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(142, 142, 142);
        margin: 0 auto;
    }
    &__circle{
        min-width: 32px;
        height: 32px;
        background: #333;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 8px;
        position: relative;
        left: -16px;
        top: -6px;
        z-index: 3;
        animation: flicker infinite 2s linear;
    }
}
@keyframes flicker{
    0%{
        background: #333f;
    }
    50%{
        background: #3330;
    }
    100%{
        background: #333f;
    }
}

@media screen and(max-width: 650px) {
    .steps{
        margin-top: 70px;
        &__wrap{
            flex-direction: column;
        }
        &__right{
            width: 100%;
            margin-left: 8px;
        }
        &__item{
            padding-bottom: 24px;
        }
        &__left{
            width: 100%;
            margin-bottom: 32px;
        }
        &__circle{
            min-width: 27px;
            height: 27px;
            left: -13.5px;
            margin-right: 6px;
        }
        &__dot{
            min-width: 15px;
            height: 15px;
        }
        &__title{
            margin-bottom: 12px;
        }
    }
}

.latest{
    margin-top: 240px; 
    .title{
        margin-bottom: 70px;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 379px;
        margin-right: 32px;
        img{
            width: 100%;
        }
    }
    &__text{
        margin-top: 16px;
        margin-bottom: 42px;
    }
    &__title{
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 600;
        margin-bottom: 8px;
    }
    &__description{
        color: #828282;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 1000px) {
    .latest{
        &__hidden{
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .latest{
        margin-top: 120px;
        .title{
            margin-bottom: 51px;
        }
        &__hidden{
            display: none;
        }
        &__wrap{
            flex-direction: column;
        }
        &__item{
            width: 100%;
        }
        &__text{
            margin-bottom: 48px;
        }
    }
}